.app{
    min-height: 100vh;
    background-color: rgb(188, 245, 131);
    color: rgb(92, 116, 226);
    padding-top: 130px;
    padding-bottom: 70px;
}

@media(max-width: 700px){
    .app{
        padding-top: 70px;
    }
}